<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Rectangle Details</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Rectangle Details</h1>
    <div class="rectangle-display">
         <div th:text="${rectangle.name}"></div>
         <div
        class="rectangle"
        th:style="'width:' + ${rectangle.width} + 'px; height:' + ${rectangle.height} + 'px; background-color:' + ${rectangle.color}"
      ></div>
    </div>
      

        <table class="rectangle-details">
          <tr>
            <td>Name</td>
            <td th:text="${rectangle.name}">Name</td>
          </tr>
          <tr>
            <td>Width</td>
            <td th:text="${rectangle.width}">Width</td>
          </tr>
          <tr>
            <td>Height</td>
            <td th:text="${rectangle.height}">Height</td>
          </tr>
          <tr>
            <td>Color</td>
            <td th:text="${rectangle.color}">Color</td>
          </tr>
        </table>

    </div>
    <section class = "action-buttons">
    <a th:href="@{/rectangle/edit/{id}(id=${rectangle.id})}" th:text="Edit"
      >Edit</a
    >
    <a th:href="@{/rectangle/delete/{id}(id=${rectangle.id})}" th:text="Delete"
      >Delete</a
    >
    <a th:href="@{/}" th:text="Back">Back</a>
    </section>
  </body>
</html>
