<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Rectangle List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h1>All Rectangles</h1>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Color</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="rectangle, iterStat : ${rectangles}">
          <td th:text="${iterStat.count}">1</td>
          <!-- Use iterStat.count for 1-based index -->
          <td>
            <a
              th:href="@{/rectangle/{id}(id=${rectangle.id})}"
              th:text="${rectangle.name}"
              >Name</a
            >
          </td>
          <td th:text="${rectangle.color.replace('#', '').toUpperCase()}">
            Color
          </td>
          <td>
            <a
              th:href="@{/rectangle/delete/{id}(id=${rectangle.id})}"
              class="delete-link"
              >DELETE</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/rectangle/new}">Add New Rectangle</a>
  </body>
</html>
